._ {
    grid-area: header;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

._error {
    color: red;
}

._success {
    color: gold;
}
