._ {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*._themePicture {*/
/*    height: 190px;*/
/*}*/

/*._themePicture img {*/
/*    object-fit: fill;*/
/*    width: 100%;*/
/*    object-position: 50% 0;*/
/*}*/
